<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h2>상품 조회</h2>
    </div>
    체크명: <span th:text="${dailyCheck.dailyCheckName}">체크명</span><br/>
    첨부파일: <a th:if="${dailyCheck.attachFile}" th:href="|/attach/${dailyCheck.dailyCheckId}|" th:text="${dailyCheck.getAttachFile().getUploadFileName()}" /><br/>
    <img th:each="imageFile : ${dailyCheck.imageFiles}" th:src="|/images/${imageFile.getStoreFileName()}|" width="300" height="300"/>
</div> <!-- /container -->
</body>
</html>