<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    .exMain {
        margin-right: 20px;
    }
</style>
<body>
<div>
    <h2>오늘의 운동 목록</h2>
    <hr>
    <div>
        <span class="exMain">런지</span><span class="exMain">10회</span><span class="exMain">3세트</span>
        <span><input type="checkbox" value="done">done</span>
    </div>
    <div>
        <span class="exMain">스퀘트</span><span class="exMain">20회</span><span class="exMain">5세트</span>
        <span><input type="checkbox" value="done">done</span>
    </div>
    <div>
        <span class="exMain">푸쉬업</span><span class="exMain">15회</span><span class="exMain">3세트</span>
        <span><input type="checkbox" value="done">done</span>
    </div>
</div>
</body>
</html>